source_up_if_exists .envrc

export INFLUX_HOST=$($HOME/bin/opw my.1password.eu "homelab-homeassistant-influxdb2-credentials" api-url)
export INFLUX_TOKEN=$($HOME/bin/opw my.1password.eu "homelab-homeassistant-influxdb2-credentials" admin-token)
export INFLUX_BUCKET=$($HOME/bin/opw my.1password.eu "homelab-homeassistant-influxdb2-credentials" bucket-name)
export INFLUX_ORG=$($HOME/bin/opw my.1password.eu "homelab-homeassistant-influxdb2-credentials" org)